<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>Homepage</title>

    <link rel="stylesheet" href="/static/global.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" href="{{ url_for('index')}}">Homepage</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>



      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      </div>

    </nav>

    <!-- <form action="action_page.php"> -->

    <form action="{{ url_for('add_user') }}" method="post">
<!-- 
    <p style="color:red"> {{message }} </p> -->
    <div class="container">
    <font color='078940'> <h1>Add Tutor</h1> <h5> Fill in the required information of the tutor you want to add.</h5> </font>
    <hr>

    <label for="f_name"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="f_name" required>

    <label for="l_name"><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="l_name" required>

    <label for="j_num"><b>J Number</b></label>
    <input type="text" placeholder="Enter JNumber" name="j_num" required>

    <label for="secretcode"><b>Secret Code</b></label>
    <input type="text" placeholder="Enter the unique code" name="secretcode" required>


   <font color='078940'> <p style="color:black">By submitting this form you are adding one new tutor.</p></font>
    <button type="submit" class="registerbtn" name="addTutor" > Add Tutor </button>
  </div>


</div>
</form>

<br style = “line-height:100;”>

<br style = “line-height:100;”>

    <form action="{{ url_for('delete_user') }}" method="post">

<!--     <p style="color:red"> {{message }} </p> -->
    <div class="container">
   <font color='D1192A'> <h1>Delete Tutor</h1> <h5> Fill in the J# of the tutor you want to delete.</h5></font>
    <hr>

    <label for="j_num"><b>J Number</b></label>
    <input type="text" placeholder="Enter JNumber" name="j_num" required>


     <font color='D1192A'><p style="color:black">By submitting this form you are deleting one tutor.</p></font>
    <button type="submit" class="registerbtn">Delete</button>
  </div>

</div>
</form>



</form>

  </body>

</html>