<!-- Dashboard for user -->
<!DOCTYPE html>



<html lang="en" dir="ltr">



  <head>


    <meta charset="utf-8">



    <title>Homepage</title>



    <link rel="stylesheet" href="/static/global.css">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>



  </head>


  <body>







    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">



      <a class="navbar-brand" href="{{ url_for('index')}}">Homepage</a>







      <div class="collapse navbar-collapse" id="navbarSupportedContent">







        <ul class="navbar-nav mr-auto">





          <li class="nav-item active">



            <a class="nav-link"> <h2> {{ message }}</h2> </a>



          </li>


        </ul>







         <a href="{{ url_for('logout') }}">logout </a> <span class="sr-only">(current)</span></a>



      </div>

    </nav>



    <div class="container" style="margin-top:30px">

  <div class="row">



      <script type="text/javascript">

      <!--


      </script>

      <script type="text/javascript" src="https://feed.surfing-waves.com/js/rss-feed.js"></script>

      <hr class="d-sm-none">

    </div>


     <div class="col-sm-8">

      <font color='0F64A5'><center> <h2>Admin Activity</h2> </center></font>

<!--       <input type="submit" style="background-color:green";  name="submit_button" value="Add Admin">
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;

      <input type="submit" style="background-color:green";  name="submit_button" value="Add Tutor">
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp; -->

<!--       <a href="{{ url_for('view_credentials')}}"><input type="submit" style="background-color:#33E9FF";  name="submit_button" value="View Admin">
      &nbsp;
      &nbsp;
      &nbsp;

      <a href="{{ url_for('view_credentials')}}"><input type="submit" style="background-color:#33E9FF";  name="submit_button" value="View Tutor">
      &nbsp;
      &nbsp;
      &nbsp;
 -->
       &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
                  &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="{{ url_for('login_submit') }}"> <input type="submit" style="background-color:green";  name="submit_button" value="Add or Delete Tutor"> </a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
            &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
            &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
            &nbsp;

      <a href="{{ url_for('login_submit') }}"> <input type="submit" style="background-color:#FF333C";  name="submit_button" value="Add or Delete Admin"></a>
&nbsp;
&nbsp;
&nbsp;

<font color='602B2E'><h2 align="left"> Current Tutors </h2></font>
<table>
  {% for item in tutors %}
    <tr>
    {% for d in item %}

      <td>{{ d }}&nbsp;</td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>


&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<font color='602B2E'><h2 align="left"> Current Admins </h2></font>
<table>
  {% for item in admins %}
    <tr>
    {% for d in item %}

      <td>{{ d }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>

    </a>
  </a>
</div>



<!-- <table>
{% for t in table %}
    <tr>
    {% for i in t %}
        <td>{{ i }}</td>
    {% endfor %}
    </tr>
{% endfor %}
 </table> -->

<!-- <div class="jumbotron text-center" style="margin-bottom:100">

  <p style="color:black">&copy; Jackson State University</p>

</div> -->

</body>



</html>

